name: Release on PR Merge

on:
  pull_request:
    types: [closed]

permissions:
  contents: write

jobs:
  release:
    if: >
      github.event.pull_request.merged == true &&
      contains(join(github.event.pull_request.labels.*.name, ','), 'TAGME')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Ensures all history and tags are fetched
      - name: Detect changed changelog
        id: changelog
        run: |
          echo "Comparing ${{ github.event.pull_request.base.sha }} -> ${{ github.event.pull_request.merge_commit_sha }}"
          CHANGED_FILES=$(git diff --name-only ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.merge_commit_sha }})
          
          echo "Changed files:"
          echo "$CHANGED_FILES"
          
          for FILE in $CHANGED_FILES; do
            if echo "$FILE" | grep -i "changelog"; then
              echo "Found changelog: $FILE"
              echo "COSMOS_CHANGELOG_FILE=$FILE" >> $GITHUB_ENV
              break
            fi
          done

      - name: Read changelog file
        id: read_changelog
        run: |
          echo "COSMOS_CHANGELOG<<EOF" >> $GITHUB_ENV
          cat "${{ env.COSMOS_CHANGELOG_FILE }}" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Set commit SHA
        run: |
          echo "COMMIT_SHA=${{ github.event.pull_request.merge_commit_sha }}" >> $GITHUB_ENV

      - name: Retrieve all tags before merge commit
        run: |
          echo "COSMOS_TAGS<<EOF" >> $GITHUB_ENV
          git tag --merged ${{ github.event.pull_request.merge_commit_sha }} --sort=committerdate >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Set GitHub repository information
        run: |
          echo "REPO_OWNER=${{ github.repository_owner }}" >> $GITHUB_ENV
          REPO_NAME=$(echo "${{ github.repository }}" | cut -d'/' -f2)
          echo "REPO_NAME=$REPO_NAME" >> $GITHUB_ENV

      - name: Run R2D2 Go Action
        uses: docker://ghcr.io/technicallyty/r2d2:latest
        env:
          COSMOS_CHANGELOG: ${{ env.COSMOS_CHANGELOG }}
          COSMOS_CHANGELOG_FILE: ${{ env.COSMOS_CHANGELOG_FILE }}
          COSMOS_TAGS: ${{ env.COSMOS_TAGS }}
          COMMIT_SHA: ${{ env.COMMIT_SHA }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO_OWNER: ${{ env.REPO_OWNER }}
          REPO_NAME: ${{ env.REPO_NAME }}
