name: Release on PR Merge

on:
  pull_request:
    types: [closed]

permissions:
  contents: write

jobs:
  release:
    if: >
      github.event.pull_request.merged == true &&
      contains(join(github.event.pull_request.labels.*.name, ','), 'TAGME')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Ensures all history and tags are fetched
      - name: Detect changed changelog
        id: changelog
        run: |
          echo "Comparing ${{ github.event.pull_request.base.sha }} -> ${{ github.event.pull_request.merge_commit_sha }}"
          CHANGED_FILES=$(git diff --name-only ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.merge_commit_sha }})
          
          echo "Changed files:"
          echo "$CHANGED_FILES"
          
          for FILE in $CHANGED_FILES; do
            if echo "$FILE" | grep -i "changelog"; then
              echo "Found changelog: $FILE"
              echo "COSMOS_CHANGELOG_FILE=$FILE" >> $GITHUB_ENV
              break
            fi
          done

      - name: Read changelog file
        id: read_changelog
        run: |
          echo "COSMOS_CHANGELOG<<EOF" >> $GITHUB_ENV
          cat "${{ env.COSMOS_CHANGELOG_FILE }}" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Retrieve all tags before merge commit
        run: |
          echo "COSMOS_TAGS<<EOF" >> $GITHUB_ENV
          git tag --merged ${{ github.event.pull_request.merge_commit_sha }} --sort=committerdate >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: R2D2tagger
        uses: technicallyty/r2d2@v1.0.0-beta.6
        with:
          changelog: ${{ env.CHANGELOG_CONTENT }}
          changelog-file: ${{ steps.changelog.outputs.CHANGELOG_FILE }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pr-number: ${{ github.event.pull_request.number }}
          cosmos-tags: ${{ env.COSMOS_TAGS }}
          commit-sha: ${{ github.event.pull_request.merge_commit_sha }}
          r2d2-comment-only: 'false'
